/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

a, a:link, a:visited, a:hover  {
	color: #fff;
	text-decoration: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
	position: absolute;
	width: 100%;
	height: 100%;
	font: 16px/26px Helvetica, Helvetica Neue, Arial;
	color: white;
}


/* ==============
	MOBILE: Main
   ============== */

.main {
	position: relative;
	padding: 30px 0;
	z-index: 10;
}

.main article h1 {
	font-size: 2em;
}

.main aside {
	color: white;
	padding: 0 5% 10px;
}

.footer-container footer {
	color: white;
	padding: 20px 0;
}

/* ===============
	ALL: IE Fixes
   =============== */

.ie7 .title {
	padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.lebackground {

	background: #4087C0;
	background-image: url(../res/photo_u1_blur.jpg);
	background-size: cover;
	background-attachment: fixed;
}

#big-uruguay {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 6;
}
#big-uruguay div {
	position: relative;
    left: 0;
    bottom: 0;
	font-size: 800px;
    line-height: 100%;
	width: auto;
	white-space: nowrap;
	font-family: Roboto, Impact, "Arial Narrow", Helvetica;
	font-weight: 900;
	color: #00448C;
	background: -webkit-linear-gradient(transparent, transparent), url(../res/photo_u1.jpg);
	background-size: cover;
	background-attachment: fixed;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: .9;
}

#big-sfida {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	overflow: hidden;
}
#big-sfida div {
	position: absolute;
	top: -8%;
	font-size: 1400px;
    line-height: 100%;
	width: auto;
	white-space: nowrap;
	font-family: Roboto, Impact, "Arial Narrow", Helvetica;
	font-weight: 900;
	color: #00448C;
	background: url(../res/photo_u1.jpg);
	background-size: cover;
	background-attachment: fixed;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: .3;
}

.main-container {
	position: relative;
	margin-top: -350px;
	top: 50%;
	height: 600px;
}
.main {
	text-align: center;
}
.main figure.logo img {
	margin-bottom: 100px;
	width: 250px;
	height: 250px;
	border-radius: 125px;
	background: #0096D6;
	box-shadow: 0 8px 40px rgba(0,0,20,.5);
}
.main section.options {
	text-align: center;
	display: block;
}
.main section.options article {
	display: inline-block;
	width: 200px;
	vertical-align: top;
	font-family: Roboto, Impact, "Arial Narrow", Helvetica;
	font-size: 20px;
	padding: 20px;
}
.main section.options i {
	font-size: 90px;
	border-radius: 8px;
	padding: 0 5px;
	text-shadow: 0 0 20px #000022;
}
.main section.options article div {
	margin-top: 12px;
	text-shadow: 0 0 4px #000022;
}

.main section.buttons {
	display: block;
	margin-top: 20px;
}

.main section.buttons button {
	font-family: Roboto, "Arial Narrow", Helvetica;
	padding: 20px 50px;
	border-radius: 8px;
	font-weight: bold;
	color: #fff;
	font-size: 30px;
	border: 0;
	border: 4px solid #fff;
	background: #0096D6;
	box-shadow: 0 8px 40px rgba(0,0,20,.5);
}

figure.signature {
	position: absolute;
	right: 40px;
	bottom: 40px;
}

.footer-container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}
.social a {
	position: relative;
	display: inline-block;
	padding: 4px;
	top: 0;
	margin: 0 4px 0 0;
	border-radius: 25px;
	background: #0096D6;
	box-shadow: 0 8px 40px rgba(0,0,10,.5);
	transition: all 0.1s linear;
}
.social img {
	vertical-align: top;
	width: 25px;
	height: 25px;
}
.social a:hover {
	top: -5px;
}
.title img {
	width: 180px;
    height: 32px;
	margin-top: 4px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 768px) {

	.wrapper {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.main-container {
		top: auto;
		margin: auto;
		height: auto;
	}
	.footer-container {
		position: relative;
	}

}

@media only screen and (min-width: 768px) {

	.title {
		float: left;
	}

	nav {
		float: right;
		width: 38%;
		text-align: right;
	}

	.wrapper {
		width: 768px;
		margin: 0 auto;
	}

	.main article {
		width: 57%;
	}
}

@media only screen and (min-width: 1140px) {

	.wrapper {
		width: 1026px;
		margin: 0 auto;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}